
// Typography
$base-font-size: 13px;
$base-line-height: 1.5;
$base-color: white;
$secondairy-color: black;
$theme-color: hsl(240, 100%, 66%);

// Fonts
$body-font-family: Arial, sans-serif;
$heading-font-family: 'Roboto', sans-serif;

//Colors

//bg colors 
$sidebar-bg: #3b3b3b;
$content-bg: #000000;