@import "variables";

//Import bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    font-family: $body-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
}

.wrapper-home {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.sidebar {
    background-color: $sidebar-bg;
    flex-grow: 0.3;
}

.appcontent {
    background-color: $content-bg;
    flex-grow: 3;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20%;
}

.navigation {
    display: flex;
    justify-content: center;
    gap: 5px;
    padding: 3%;
}


.file-table {
    width: 75%;
    border-collapse: collapse;
    flex: 0.5;

    th,
    td {
        padding: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.466);
        /* Add border between rows */
        text-align: left;
    }

    th {
        background-color: $content-bg;
        /* Light gray background for table headers */
        font-weight: bold;

        &:first-child {
            flex-grow: 4;
        }
    }

    tr:hover {
        background-color: $sidebar-bg;
        /* Light gray background on hover */
    }

    /* Style the first column (Name) to truncate long text */
    td:first-child {
        max-width: 200px;
        /* Maximum width of the Name column */
        overflow: hidden;
        text-overflow: ellipsis;
        /* Add ellipsis for overflow text */
        white-space: nowrap;
        /* Prevent text wrapping */
    }
}

.content-table {
    width: 100%;
    /* Set width of the container */
    display: flex;
    flex-direction: column;
    align-items: center;
}


.form-btn {
    border: transparent;
}

.btns {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 2%;
    margin-left: 15%;
    margin-bottom: 5%;

    .upload-btn {
        padding: 30px;
        background-color: $theme-color;
        border: transparent;
        transition: background-color 0.3s ease; // Smooth transition for background color change

        &:hover {
            background-color: darken($theme-color, 10%); // Darken the background color on hover
            cursor: pointer; // Change cursor to pointer on hover
        }
    }
}
